<body>


    <div id="wrapper">

        <!-- sidebar -->
     <app-sidebar></app-sidebar>

        <!-- main contents -->
        <main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">

            <div class="main__inner">

           <h3 style="font-size:xx-large;font-weight: 600; margin-left: 150px;">Sorry, this page isn't available.</h3>

           <p class="mt-7">The link you followed may be broken, or the page may have been removed. Go back to <a class="font-bold" routerLink="/">Talky.</a></p>

            </div>


        </main>
        
    </div>


    


 

</body>