<app-sidebar></app-sidebar>

 <!-- main contents -->
 <main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]" >
<div class="main__inner">


<div class="bg-white rounded-xl shadow-sm p-5 px-6 border1 dark:bg-dark2" >
           
    <div class="flex justify-between text-black dark:text-white">
        <h3 class="font-bold text-base"> People You might know </h3>
        <button type="button"> 
            <!-- <ion-icon name="sync-outline" class="text-xl"></ion-icon>  -->
        </button>
    </div>

    <div class="space-y-4 capitalize text-xs font-normal mt-5 mb-2 text-gray-500 dark:text-white/80">

        <div class="flex items-center gap-3">
            <a href="profile.html">
                <img src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
            </a>
            <div class="flex-1">
                <a href="profile.html"><h4 class="font-semibold text-sm text-black dark:text-white">  Johnson smith</h4></a>
                <div class="mt-0.5"> Suggested For You </div>
            </div>
            <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
        </div>
        <div class="flex items-center gap-3">
            <a href="profile.html">
                <img src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
            </a>
            <div class="flex-1">
                <a href="profile.html"><h4 class="font-semibold text-sm text-black dark:text-white"> James Lewis</h4></a>
                <div class="mt-0.5"> Followed by Johnson </div>
            </div>
            <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
        </div>
        <div class="flex items-center gap-3">
            <a href="profile.html">
                <img src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
            </a>
            <div class="flex-1">
                <a href="profile.html"><h4 class="font-semibold text-sm text-black dark:text-white"> John Michael</h4></a>
                <div class="mt-0.5"> Followed by Monroe  </div>
            </div>
            <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
        </div>
        <div class="flex items-center gap-3">
            <a href="profile.html">
                <img src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
            </a>
            <div class="flex-1">
                <a href="profile.html"><h4 class="font-semibold text-sm text-black dark:text-white">  Monroe Parker</h4></a>
                <div class="mt-0.5"> Suggested For You </div>
            </div>
            <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
        </div> 
        <div class="flex items-center gap-3">
            <a href="profile.html">
                <img src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
            </a>
            <div class="flex-1">
                <a href="profile.html"><h4 class="font-semibold text-sm text-black dark:text-white">  Martin Gray</h4></a>
                <div class="mt-0.5"> Suggested For You </div>
            </div>
            <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
        </div>
    </div>

</div>

</div>
</main>